
<EDKSYSTEM EDKVERSION="14.7" EDWVERSION="1.2" TIMESTAMP="Sat Nov 03 16:58:23 2018">

  <SYSTEMINFO ARCH="artix7" DEVICE="xc7a200t" PACKAGE="sbg484" PART="xc7a200tsbg484-1" SOURCE="C:/Thesis_Nexys_Video_2016_4/Thesis_Nexys_Video_2016_4.xps/system.xmp" SPEEDGRADE="-1"/>

  <EXTERNALPORTS/>

  <MODULES/>

</EDKSYSTEM>